In [1]:
import pandas as pd

In [4]:
data = {
    'Customer_ID': [101, 102, 103, 104],
    'Purchase_Amount': [1500, 2200, 750, 3200],
    'Date': ['2024-10-01', '2024-11-21', '2024-11-25', '2025-01-04'],
    'Product_Category': ['Electronics', 'Furniture', 'Groceries', 'Electronics'],
    'City': ['Mumbai', 'Delhi', 'Mumbai', 'Bangalore']
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df

   Customer_ID  Purchase_Amount       Date Product_Category       City
0          101             1500 2024-10-01      Electronics     Mumbai
1          102             2200 2024-11-21        Furniture      Delhi
2          103              750 2024-11-25        Groceries     Mumbai
3          104             3200 2025-01-04      Electronics  Bangalore

### 1. Extracting date-related features

In [5]:
df['Purchase_Year'] = df['Date'].dt.year
df['Purchase_Month'] = df['Date'].dt.month
df['Day_of_Week'] = df['Date'].dt.day_name()

### 2. Creating binary features (e.g., High spender)

In [6]:
df['High_Spender'] = df["Purchase_Amount"].apply(lambda x:1 if x>2000 else 0)

###  Binning purchase amounts

In [9]:
bins = [0, 1000, 2000, 5000]
labels = ['Low', 'Medium', 'High']
df['Spending_Category'] = pd.cut(df['Purchase_Amount'], bins=bins, labels=labels)

In [10]:
df

,Customer_ID,Purchase_Amount,Date,Product_Category,City,Purchase_Year,Purchase_Month,Day_of_Week,High_Spender,Spending_Category
0,101,1500,2024-10-01,Electronics,Mumbai,2024,10,Tuesday,0,Medium
1,102,2200,2024-11-21,Furniture,Delhi,2024,11,Thursday,1,High
2,103,750,2024-11-25,Groceries,Mumbai,2024,11,Monday,0,Low
3,104,3200,2025-01-04,Electronics,Bangalore,2025,1,Saturday,1,High